<!doctype html>

<html lang="en" ng-app="mathGame">
<head>
	<meta charset="utf-8">
	<title>The Math Game</title>
	<meta name="description" content="Math Game">
	<link rel="stylesheet" href="styles.css?v=1.0">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
</head>

<body ng-controller="mathGameController">

<div class="mainWrapper">
	<div class="timer start"ng-click="numberGenerator()">Start</div>
	<div class="wrapperNumbers" ng-repeat="numbers in questions track by $index">
		<div class="numbers top">{{numbers.top}}</div>
		<div class="numbers bottom">{{numbers.bottom}}</div>
		<input type="numbers" ng-model="userAnswers[$index]" ng-disabled="disable" />
		<div class="numbers green" ng-show="answerCheck">&#9989</div>
		<div class="numbers green" ng-show="!answerCheck">&#10060</div>
	</div>
	<div class="timer stop" ng-click="stopTime()" ng-if="shower">Submit</div>




</div>














	
	<script src="js/app.js"></script>
	<script src="js/mathGameController.js"></script>
	<script src="js/mathGameService.js"></script>
</body>
</html>